.main-wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
}
.header {
    &-baner {
       img {} 
    }
    &-top-line {
        .city__select {
            
        }
        .head__panel {}
    }
    &-mid {
        &__logo {}
        &__contact {}
        &__search {}
        &__basket {}
    }

}