.header {
    width: 100%;
    height: 100vh;
    background: pink;
    &-top {
        &__logo {
            width: 200px;
            height: 200px;
        }
        &__menu {
            width: 100%;
            height: 100%;
        }
    }

}
