* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100vh;
    
}
$color : #000;
$color2 : #fff;

.main-wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
}
 
.header {
    &__container {
        max-width: 1240px;
        margin: 0 auto;
        background: #fff;
    }
    &-baner {
        height: 60px;
       background: url( /images/hh.jpg)no-repeat 100% 38% / cover;
       -webkit-filter: blur(3px);
       filter: blur(3px);
       position: absolute;
       
     
    }
    &-top-line {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: #fff;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #000;
        -webkit-box-shadow: 2px 5px 14px 0px silver;
        box-shadow: 2px 5px 14px 0px silver;
        
        .city__select {
            width: auto;
            padding-left: 20px;   
            line-height: 30px;
            position: relative;
            font-size: 14px;
            color:  $color2 ;
            span {
                font-family: Montserrat;              
                a {
                    font-family: Montserrat;
                    text-decoration: none;
                    font-size: 16px;
                    color: $color2;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        border-bottom: 1px solid $color2;
                        border-right: 1px solid $color2;
                        border-top: 1px solid transparent;
                        border-left: 1px solid transparent;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);                      
                        right: -12px;
                        top: 12px;
                    }
                }
            }
        }
        .header__panel {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-left: auto;
            margin-right: 40px;
            list-style: none;
            .header__item {
            margin-left: 50px;

                .header__link {
                text-decoration: none;
                color:  $color2;
                font-family: Montserrat;
                font-size: 12px;
                -webkit-transition: .4s;
                transition: .4s;
                &:hover {
                    color: #757575;
                    
                }
                }
            }

        }
    }
    &-mid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px;
        
        &__logo {
            width: 180px;
            height: auto;
            img {
                width: 100%;
                height: 100%;
                
            }
        }
        &__contact {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            .phone {
                font-family: Montserrat;
                color: $color ;
                margin-bottom: 3px;
            }
            .call-order {
                &__link {
                    color: $color  ;
                    font-family: Montserrat;
                }
            }
        }
        &__search {}
        &__basket {}
    }
    .main-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: linear-gradient(310deg, #ed4d34, #d952ff,#52dcff);   
        list-style: none;
        -webkit-box-shadow: 2px 5px 14px 0px silver;
        box-shadow: 2px 5px 14px 0px silver;
        &__item {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            text-align: center;
            border-right: 1px solid rgba(255,255,255,.4);
            &:hover {
                background: #000;
            }
             
            .main-menu__link {
                text-decoration: none;
                color: #39393b;
                font-family: Montserrat;
                height: 48px;
                line-height: 48px;
                color: #fff;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }

}


 