* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100vh;
    background: url('/images/gorod-zdaniya-zakat-721a55c.jpg')no-repeat 50% 50%/ cover;
}
.header {
    width: 100%;
    height: 100%;
    &-top {
        &__logo {
            width: 200px;
            height: 200px;
            img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        &__menu {
            width: 100%;
            height: 100%;
        }
    }

}



 